doctype html
html(lang='ru-RU')
	head
		meta(http-equiv='Content-Type' content='text/html' charset='utf-8')
		title='Пицца, суши'
		link(rel='icon' type='image/png' href='/images/favicon.png')
		
		link(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet' id='bootstrap-css')
		link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet')
		link(href='//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css' type='text/css' rel='stylesheet')
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src='//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js' type='text/javascript' charset='utf-8')
		script(type='text/javascript' src='/javascripts/script.js')
	body
		block content